#Flask
backend/records
backend/.flaskenv
backend/__pycache__
backend/Diadata.sqlite
backend/jsontest
#Vue

frontend/node_modules
frontend/README.md
frontend/dist
# local env files
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
backend/.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__pycache__/